<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutorials
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card button="true" (click)="cardClick(0)">
    <ion-card-header>
      <ion-card-subtitle>Data Type</ion-card-subtitle>
      <ion-card-title>Integers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{templateCode[0]}}</p>         
    </ion-card-content>
  </ion-card>

  <ion-card button="true" (click)="cardClick(1)">
    <ion-card-header>
      <ion-card-subtitle>Data Type</ion-card-subtitle>
      <ion-card-title>Strings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{templateCode[1]}}</p>         
    </ion-card-content>
  </ion-card>

  <ion-card button="true" (click)="cardClick(2)">
    <ion-card-header>
      <ion-card-subtitle>Iteration</ion-card-subtitle>
      <ion-card-title>For loop</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{templateCode[2]}}</p>         
    </ion-card-content>
  </ion-card>

</ion-content>
