<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Run
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label>Loaded Code</ion-label>
    <ion-select [(ngModel)]="codeSelect" value="new" (ionChange)="loadCode()" okText="Load" cancelText="Cancel">
      <ion-select-option value="new">New Code</ion-select-option>
      <ion-select-option *ngFor="let code of codes" [value]="code">{{code.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card [hidden]="monacoEditor" style="height: 70%;">
    <ion-item>
      <ion-button (click)="run()" slot="end">Run</ion-button>
      <ion-button (click)="share()" slot="end">Share</ion-button>
      <ion-button (click)="save()" slot="end">Save</ion-button>
      <ion-button (click)="delete()" slot="end">Delete</ion-button>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Code</ion-card-title>
    </ion-card-header>
    <ion-card-content style="height: 100%;">
      <ngs-code-editor style="height: 100%;"
        [theme]="theme"
        [codeModel]="model"
        [options]="options"
        (valueChanged)="onCodeChanged($event)"        >
      </ngs-code-editor>
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="standardEditor">
    <ion-item>
      <ion-button (click)="run()" slot="end">Run</ion-button>
      <ion-button (click)="share()" slot="end">Share</ion-button>
      <ion-button (click)="save()" slot="end">Save</ion-button>
      <ion-button (click)="delete()" slot="end">Delete</ion-button>
    </ion-item>
    <ion-card-header>
      <ion-card-title>Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea rows="15" cols="10" id="textArea" [(ngModel)]="codeTextArea" placeholder="Type Code Here"></ion-textarea>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Output</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngFor="let output of codeInOut.output">{{output}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
