<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Run
    </ion-title>
    <ion-buttons (click)="run()" slot="end">
      <ion-icon color="secondary" slot="icon-only" name="play"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ngs-code-editor
        [theme]="theme"
        [codeModel]="model"
        [options]="options"
        (valueChanged)="onCodeChanged($event)"        >
      </ngs-code-editor>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Output</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Code Output Will Go Here</p>
    </ion-card-content>
  </ion-card>

</ion-content>
